%h2 Alarm Logs

%table
  %th Time
  %th Client
  %th Location
  %th Alarm
  %th Measurement
  %th Message
  - @logs.each do |log|
    %tr
      %td 
        = log.id.to_time
      %td 
        = @client_names[log.client_id]
      %td 
        = log.location_id
      %td 
        = link_to('edit',{:action => :edit, :id => log.alarm_id, :location_id => log.location_id })
      %td 
        = log.measurement
        = log.location.unit
      %td 
        = log.message
