$(function() {
new Highcharts.Chart({
chart: {
renderTo: "graph",
type: '#{@locations.length > 1 ? 'line' : 'area'}'
},
\#{render 'index/graph/common_options'}
series: [
- @locations.each do |loc|
  {
  name: '#{escape_javascript(loc.description.capitalize)}',
  data: #{loc.hourly_averages(@datatime).inspect}
  }#{@locations.last == loc ? "" : ","}
]
});
});
