- m = location.last_measurement
=link_to(controller: :index, action: :show, location: location.id) do
  .location
    .name
      = location.description.capitalize
    .measurement(title="#{format_time_and_date(m.try(:last_read_at))}")
      = m ? number_with_precision(m.current, :precision=>1) : '-'
      #{ location.unit }

    .max-min
      .max(title="#{m ? format_time_and_date(m['max_at']) : '-'}")
        Max #{number_with_precision(m.try(:max), :precision=>1)} #{ location.unit }
      .min(title="#{m ? format_time_and_date(m['min_at']) : '-'}")
        Min #{number_with_precision(m.try(:min), :precision=>1)} #{ location.unit }

    - if m.nil?
      .red Never measured
    - elsif m['last_read_at'] < 20.minutes.ago
      .red Stale data: #{m['last_read_at'].to_s(:db)}
    - else
      &nbsp;
