%h2 Locations

%div.actions
  = link_to url_for(:new_location) do
    %i.fa.fa-plus
    New location

- @locations.map{|l| l.client_id}.uniq.each do |client_id|
  - client = Client.find_by_id(client_id)
  %h3 
    = client.name.capitalize
  %table
    %th Location id
    %th Description
    %th User
    %th Sensors
    %th Do not alarm
    %th Do not show
    %th Actions
    - clients ||= {}
    - @locations.select{ |l| l.client_id == client_id }.each do |location|
      - is_owner = (location.username == current_user.username) || current_user.admin?
      - clients[location.client_id.to_s] ||= Client.find_by_id(location.client_id) if location.client_id
      - client = clients[location.client_id.to_s]
      - admin_links = []
      - admin_links <<= link_to('edit',{:action => :edit, :id => location.id}) if is_owner
      - admin_links <<= link_to('delete', {:action => :destroy, :id => location.id}, :method=>:delete, :confirm=>'Are you sure?') if is_owner
      - admin_links <<= link_to('alarm logs',{:controller => :alarms, :action => :logs, :location_id => location.id}) if is_owner
      %tr
        %td= location.id
        %td= link_to(location.try(:description).try(:capitalize), {:controller=>'index', :action=>'show', :location => location.try(:id) })
        %td= link_to(location.username, {:controller => 'users', :username => location.username}) if location.username
        %td= location.sensor_list
        %td
          - if location.do_not_alarm
            %i.fa.fa-check-square-o
          - else
            %i.fa.fa-square-o
        %td
          - if location.do_not_show
            %i.fa.fa-check-square-o
          - else
            %i.fa.fa-square-o
        %td= raw admin_links.join(" | ")
